.link-button {
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
    opacity: 1;
    transition: opacity .15s ease-in;
}

.link-button:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity .15s ease-in;
}

.link-button:active, .link-button:focus {
    opacity: .8;
    transition: opacity .15s ease-in;
}